
<div class="container">
  <div class="content">
    <div class="icon-buttons">
      <div class="icon-buttons__button" ng-click="join()" ng-class="{'icon-buttons__button--disabled': !open.length}">
        <i class="fa fa-arrow-right icon-buttons__icon"></i>
        <h2 class="icon-buttons__text">Join conversation</h2>
      </div>
      <div class="icon-buttons__button" ng-click="start()">
        <i class="fa fa-arrow-right icon-buttons__icon"></i>
        <h2 class="icon-buttons__text">Start new conversation</h2>
      </div>
    </div>
  </div>
</div>

<!-- <a href="" ng-click="join()">Join conversation</a>
<a href="" ng-click="start()">Start new conversation</a>

<input type="text" ng-model="length">

<h3>Open</h3>
<ul ng-repeat="conversation in conversations.data | filter:{data:{attributes:{status: 'open'}}}">
  <li>
    <a href="" ui-sref="in.conversation({id: conversation.data.id})">
      {{conversation.data.id}}
    </a>
    <strong ng-show="conversation.relationships.author === user">Yours</strong>
  </li>
</ul>

<h3>Active</h3>
<ul ng-repeat="conversation in conversations.data | filter:{data:{attributes:{status: 'active'}}}">
  <li>
    <a href="" ui-sref="in.conversation({id: conversation.data.id})">
      {{conversation.data.id}}
    </a>
  </li>
</ul>

<h3>Finished</h3>
<ul ng-repeat="conversation in conversations.data | filter:{data:{attributes:{status: 'finished'}}}">
  <li>
    <a href="" ui-sref="in.conversation({id: conversation.data.id})">
      {{conversation.data.id}}
    </a>
  </li>
</ul> -->